@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,100,400;8..144,100,500;8..144,100,600;8..144,100,700;8..144,110,400;8..144,110,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Ikra Slab';
    src: url('/font/IkraSlab.ttf');
}




.modal-dialog5 {
    width: 100%;
    max-width: 1104px;
    border-radius: 20px;
    // height: 574px;
    border-radius: 20px;





    .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        box-sizing: content-box;
        width: 34px;
        height: 34px;
        padding: 0;
        color: #000;
        background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><path d="M25.5 8.5L8.5 25.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.5 8.5L25.5 25.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
        border: 0;
        border-radius: 0.375rem;
        opacity: 1;


        &:focus {
            box-shadow: none;
        }
    }


    .modal-content5 {
        border-radius: 20px;
    }

    .modal-body5 {
        // height: 574px;
        background: #FFFFFF;
        box-shadow: 0px 58px 80px rgba(26, 99, 201, 0.07), 0px 37.5926px 46.8519px rgba(26, 99, 201, 0.0531481), 0px 22.3407px 25.4815px rgba(26, 99, 201, 0.0425185), 0px 11.6px 13px rgba(26, 99, 201, 0.035), 0px 4.72593px 6.51852px rgba(26, 99, 201, 0.0274815), 0px 1.07407px 3.14815px rgba(26, 99, 201, 0.0168519);
        border-radius: 20px;

        .row {
            height: 100%;
            border-radius: 20px;



            .col-lg-7 {
                padding: 60px 47px 58px 58px;


                h1 {
                    font-family: 'Ikra Slab';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 110%;
                    color: #000000;
                }

                p {

                    font-family: 'Roboto Flex';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 130%;
                    color: #000000;
                    font-stretch: 110;
                    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
                }


                .form4 {
                    width: 100%;
                    max-width: 432px;

                }

                .form4-1 {
                    padding-bottom: 8px;
                }

                .form4-2 {
                    padding-bottom: 15px;
                }

                .inputs-modal4 {
                    padding-left: 24px !important;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 11px 22px 14px 24px;
                    gap: 14px;
                    width: 100%;
                    max-width: 432px;
                    height: 66px;
                    background: #FFFFFF;
                    border: 1px solid #E1E3E5;
                    border-radius: 10px;
                    font-family: 'Roboto Flex';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 120%;
                    // text-align: center;
                    color: #77818A;
                    font-stretch: 110%;
                    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

                }

                .btn-modal {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 28px 23px 26px;
                    gap: 8px;
                    width: 100%;
                    max-width: 432px;

                    height: 70px;
                    background: #1B55C6;
                    border-radius: 10px;

                    font-family: 'Roboto Flex';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 140%;
                    color: #FFFFFF;
                    font-stretch: 110%;
                    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

                }

                .form-check-modal {
                    padding-top: 57px;
                    display: flex;
                    gap: 8px;

                    .form-check-input-modal4 {
                        background: #19408D;
                        border-radius: 5px;
                    }

                    .checkbox-text-modal4 {
                        font-family: 'Roboto Flex';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        // text-align: right;
                        color: #000000;
                        font-stretch: 110%;
                        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 144;

                    }
                }

            }

            .col-lg-5 {
                background-color: #CCDAE9;
                border-radius: 0px 20px 20px 0px;


                img {
                    position: absolute;
                    bottom: 0;
                    right: 77px;
                }
            }
        }



    }
}


.form-check-input-1 {
    width: 1rem !important;
    height: 1rem !important;
    margin-top: 0px !important;
}

.logo-smoll-text-entrance {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px !important;
    line-height: 120%;
    color: #77818A;
}

.header-entrance {
    background-color: rgb(249, 249, 249);
    // height: 998px;
}

.container-fluid {
    z-index: 1;
}

.transparentButton {
    background-color: transparent;
    margin-right: 10px;
}

.logo {
    margin-left: 20px;
    margin-top: 10px;
}

.logoText-entrance {
    margin-bottom: -5px;
    font-family: 'Ikra Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

}

.user {
    align-items: center;
    gap: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 18px 11px;
    gap: 8px;
    width: 138px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header-btn-p {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    font-stretch: 110%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    flex: none;
    order: 1;
    flex-grow: 0;
    // margin-top: 15px;
}

.btn-group {
    margin-top: -1px;
    margin-right: 20px;
}

.doc1 {
    align-items: center;
    gap: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #000000 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 18px 11px;
    gap: 8px;
    width: 165px;
    height: 46px;
    background: #000000;
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.getDoc {
    align-items: center;
    padding: 20px 28px 23px 26px;
    gap: 8px;
    background: #1B55C6;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px 23px 26px;
    gap: 8px;
    width: 256px;
    height: 66px;
    background: #1B55C6;
    border-radius: 10px;
}

.linkText {
    width: 160px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-family: Roboto Flex;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    font-variation-settings: 'wdth' 110, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    border: 1px solid transparent;
    border-radius: 10px;


    &:hover {
        border-color: #c6c7c8;
        color: #000000;
    }
}

.navbar {
    height: 100px;
}

.navbar-nav {
    gap: 15px;
    margin-top: -4px;
    margin-right: -4px;
}

.nav-link {
    padding: 8px 0 0 0;
    font-stretch: 110%;
}



.btn-chevron-left2 {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: translate(-528%, -560%);
    background: #FFFFFF;
    border-radius: 20px;
}



.div-entrance {
    padding: 69px 49px 81px 49px;
    background-color: #FFFFFF;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    border-radius: 20px;
    z-index: 1;
    align-items: center !important;
    margin-top: 66px;
    margin-bottom: 91px;

    h1 {
        font-family: 'Ikra Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 110%;
        text-align: center;
        color: #000000;
        margin-bottom: 4px;
    }

    p {
        margin-bottom: 32px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #000000;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .form-floating {
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: 12px;
        width: 432px;
        height: 66px;
        border-radius: 10px;
        margin-bottom: 12px;
    }

    .inputs {
        width: 100%;
        max-width: 432px;
        height: 66px;
        border-radius: 10px;
        margin-bottom: 12px;
        border: 1px solid #E1E3E5;
        padding: 11px 22px 14px 24px !important;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 120%;
        // text-align: center;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .label-input {
        left: 14px;
        color: #77818A;
    }

    .btn-entrance {
        // display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 28px 23px 26px;
        gap: 12px;
        width: 432px;
        height: 70px;
        background: #F6F7F8;
        border-radius: 10px;
        flex: none;
        order: 3;
        flex-grow: 0;
        margin-bottom: 12px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 120%;
        text-align: center;
        color: #A9B0B8;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .form-check-entrance {
        margin-bottom: 63px;
    }

    .checkbox-text-entrance {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #000000;
        font-stretch: 110%;

    }

    .a-entrance {
        padding-right: 2px;
        text-decoration: none;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: right;
        color: #000000;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 144;

    }

    .btn1-entrance {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // padding-left: 158px;
        letter-spacing: 0.5px;
        gap: 8px;
        width: 100%;
        max-width: 432px;
        height: 70px;
        border: 1px solid #000000;
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;



        color: var(--gray-900, #000);
        text-align: center;
        font-family: Roboto Flex;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 20.4px */

        &:hover {
            color: white;
        }
    }

    .p-entrance {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #A9B0B8;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }
}


// .checkbox-entrance {
//     display: flex;
//     gap: 12px;
//     font-family: 'Roboto Flex';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 15px;
//     line-height: 130%;
//     color: #000000;
//     font-stretch: 110%;
// }




footer {
    height: 421px;
    background-color: #FFFFFF;

    h6 {
        letter-spacing: 0.95px;
    }

    .footer-cont {
        display: flex;
        justify-content: center;

    }

    .row-entrance {
        margin-top: 52px !important;
        margin-left: -85px;
    }

    .logo-smoll-text1-entrance {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 99%;
        color: #A9B0B8;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }




    .footer-row {
        margin: 0 !important;
        max-width: 240px;
        width: 100%;
        margin-right: 35px !important;
        padding: 0;

        .row-title {
            margin-bottom: 26px !important;
        }
    }

    .footer-row-first {
        width: 300px;
        margin-right: 200px !important;
        max-width: 240px;
        width: 100%;
        padding: 0;
    }

    .footer-row-last {
        margin-left: 12px !important;
    }

    .copyright {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        color: #A9B0B8;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        margin-top: 40px;
    }

    a {
        text-decoration: none;
        color: #000;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #000000;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .phone {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 140%;
        color: #000000;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .free-col {
        margin-top: -26px;

        a {
            font-family: 'Roboto Flex';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 140%;
            color: #000000;
            font-stretch: 110% !important;
            font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
        }
    }
}


.modal-body {
    padding: 66px 49px 51px 48px;
    background-color: #FFFFFF;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    border-radius: 20px;
    z-index: 1;
    align-items: center !important;

    h1 {
        font-family: 'Ikra Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 110%;
        text-align: center;
        color: #000000;
        margin-bottom: 4px;
    }

    p {
        margin-bottom: 32px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #000000;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .form-floating {
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: 12px;
        width: 432px;
        height: 66px;
        border-radius: 10px;
        margin-bottom: 12px;
    }

    .inputs-modal {
        width: 100%;
        max-width: 432px;
        height: 66px;
        border-radius: 10px;
        margin-bottom: 12px;
        border: 1px solid #E1E3E5;
        padding: 11px 22px 14px 24px !important;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 120%;
        // text-align: center;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .label-input {
        left: 14px;
        color: #77818A;
    }

    .btn-modal {
        // display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 28px 23px 26px;
        gap: 12px;

        width: 100%;
        max-width: 432px;
        height: 70px;
        background: #1B55C6;
        border-radius: 10px;
        flex: none;
        order: 3;
        flex-grow: 0;
        margin-bottom: 12px;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

    .form-check-modal {
        margin-bottom: 63px;
    }

    .checkbox-text-modal {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: #000000;
        font-stretch: 110%;

    }

    .a-modal {
        padding-right: 2px;
        text-decoration: none;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: right;
        color: #000000;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 144;

    }

    .btn1-modal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // padding-left: 158px;
        letter-spacing: 0.5px;
        gap: 8px;
        width: 100%;
        max-width: 432px;
        height: 70px;
        border: 1px solid #000000;
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .p-modal {
        margin-bottom: 0px !important;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #A9B0B8;
        font-stretch: 110%;
        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    }

}

//////////////////////////////////// media /////////////////////////////////////


@media (max-width:514px) {
    .logo-smoll-text {
        font-size: 8px !important;
    }
}



@media (min-width:768px) and (max-width:991px) {
    .btn-chevron-left2 {
        transform: translate(-532%, -575%);
    }
}

@media (max-width:767px) {
    .div-btn {
        display: block !important;
    }

    .btn-chevron-left2 {
        margin-top: 25px;
        position: sticky;
        transform: none !important;
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 20px;
    }

    .div-entrance {
        margin-top: 20px !important;
    }
}



@media (min-width:992px) and (max-width:1347px) {
    .btn-chevron-left2 {
        transform: translate(-526%, -562%) !important;
    }


    footer {
        .row-entrance {
            margin-right: auto !important;
            margin-left: auto !important;
            margin-top: 152px !important;
            margin-left: 165px;
        }

        .footer-row-first {
            margin-right: 172px !important;

        }


        .footer-col {
            margin-left: 98px !important;
            margin-right: 159px !important;
            margin-top: 20px !important;
        }

        .footer-col1 {
            margin-left: 18px !important;
            margin: 0 !important;
            max-width: 240px;
            width: 100%;
            margin-right: 177px !important;
            padding: 0;
        }
    }

    .footer-row-last {
        margin-left: 163px !important;
        margin-top: 20px !important;
    }
}

@media (max-width:991px) {


    .modal-dialog5 {
        width: 100%;
        max-width: 100%;
        border-radius: 20px;
        // height: 574px;
        border-radius: 20px;
        margin: 0px;


        .modal-body5-container {
            max-width: 100% !important;
            padding: 0px !important;
            margin: 0px !important;
        }




        .btn-close {
            position: absolute;
            top: 20px;
            right: 20px;
            box-sizing: content-box;
            width: 34px;
            height: 34px;
            padding: 0;
            color: #000;
            background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><path d="M25.5 8.5L8.5 25.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.5 8.5L25.5 25.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
            // background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat !important;
            border: 0;
            border-radius: 0.375rem;
            opacity: 1;
        }


        .modal-content5 {
            border-radius: 20px;
        }

        .modal-body5 {
            // height: 574px;
            width: 100%;
            max-width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 58px 80px rgba(26, 99, 201, 0.07), 0px 37.5926px 46.8519px rgba(26, 99, 201, 0.0531481), 0px 22.3407px 25.4815px rgba(26, 99, 201, 0.0425185), 0px 11.6px 13px rgba(26, 99, 201, 0.035), 0px 4.72593px 6.51852px rgba(26, 99, 201, 0.0274815), 0px 1.07407px 3.14815px rgba(26, 99, 201, 0.0168519);
            border-radius: 20px;


            .row {
                height: 100%;
                border-radius: 20px;



                .col-lg-7 {
                    padding: 60px 10px 58px 10px;

                    .jj {
                        justify-content: center !important;
                    }

                    h1 {
                        font-family: 'Ikra Slab';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 35px;
                        line-height: 110%;
                        color: #000000;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-family: 'Roboto Flex';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 130%;
                        color: #000000;
                        font-stretch: 110;
                        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
                    }


                    .form4 {
                        width: 100%;
                        max-width: 432px;
                        max-width: 100%;
                        width: 100%;
                        justify-content: center;
                        display: flex;
                        margin: 0px !important;

                    }

                    .form4-1 {
                        padding-bottom: 0px;
                    }

                    .form4-2 {
                        padding-bottom: 0px;
                    }

                    .inputs-modal4 {
                        padding-left: 24px !important;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 11px 22px 14px 24px;
                        gap: 14px;
                        width: 100%;
                        max-width: 432px;
                        height: 66px;
                        background: #FFFFFF;
                        border: 1px solid #E1E3E5;
                        border-radius: 10px;
                        font-family: 'Roboto Flex';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 120%;
                        // text-align: center;
                        color: #77818A;
                        font-stretch: 110%;
                        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

                    }

                    .btn-modal-div {
                        justify-content: center;
                        display: flex;
                    }

                    .btn-modal {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 28px 23px 26px;
                        gap: 8px;
                        width: 100%;
                        max-width: 432px;

                        height: 70px;
                        background: #1B55C6;
                        border-radius: 10px;

                        font-family: 'Roboto Flex';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 140%;
                        color: #FFFFFF;
                        font-stretch: 110%;
                        font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

                    }

                    .form-check-modal {
                        justify-content: center;
                        padding-top: 10px;
                        display: flex;
                        gap: 8px;

                        .form-check-input-modal4 {
                            background: #19408D;
                            border-radius: 5px;
                        }

                        .form-check-input {
                            width: 1rem !important;
                            height: 1rem !important;
                        }

                        .checkbox-text-modal4 {
                            font-family: 'Roboto Flex';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 140%;
                            text-align: start;
                            color: #000000;
                            font-stretch: 110%;
                            font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 144;

                        }
                    }

                }

                .col-lg-5 {
                    display: none !important;
                    background-color: #CCDAE9;
                    border-radius: 0px 20px 20px 0px;


                    img {
                        position: absolute;
                        bottom: 0;
                        right: 77px;
                    }
                }
            }



        }
    }


    .logoText-entrance {
        font-size: 45px !important;
    }

    .logo-smoll-text-entrance {
        font-size: 17px !important;
    }

    .a-entrance {
        font-size: 18px !important;
    }

    .form-floating {
        margin-bottom: 50px !important;
    }

    // .inputs {
    //     font-size: 32px !important;
    //     width: 543px !important;
    //     height: 100px !important;
    //     margin-bottom: 20px !important;

    // }

    .checkbox-text-entrance {
        font-size: 17px !important;
    }

    .btn-entrance {
        font-size: 25px !important;
    }

    // .btn1-entrance {
    //     font-size: 27px !important;
    //     padding-left: 130px !important;
    // }





    footer {
        height: auto !important;
        max-width: 400px !important;
        margin-left: auto;
        margin-right: auto;

        .footer-cont {
            text-align: center !important;
        }

        .row-entrance {
            margin-right: auto !important;
            margin-left: auto !important;
            margin-top: 152px !important;
        }

        .logoText-entrance {
            font-size: 52px !important;
        }

        .logo-smoll-text1-entrance {
            font-size: 20px !important;
        }

        .copyright {
            width: auto !important;
        }

        .footer-row-first {
            margin-right: 0 !important;
            width: 300px;
            margin-right: 102px !important;
            max-width: 240px;
            width: 100%;
            padding: 0;
            margin-left: 0 !important;
            max-width: 550px !important;
        }

        .footer-col {
            margin: 0 !important;
            max-width: 240px;
            width: 100%;
            margin-right: 23px !important;
            padding: 0;
            max-width: 550px !important;

        }

        .footer-row-last {
            // margin-left: 77px !important;
            margin-left: 0 !important;
            max-width: 550px !important;
        }

        .footer-col1 {
            margin-right: 105px !important;
            max-width: 550px !important;

        }

        .row-title1 {
            margin-top: 35px !important;
        }
    }
}


@media (max-width: 576px) {


    .div-entrance {
        width: 100%;
        padding: 69px 0px 12px 0px;


        a {
            font-size: 18px !important;
        }

        h6 {
            font-size: 20px;
        }

        h1 {
            font-size: 30px !important;
        }

        .form-floating {
            width: 100% !important;
            margin-bottom: 30px !important;
        }

        .inputss {
            font-size: 22px !important;
            height: 75px !important;
        }

        .btn-registr {
            font-size: 22px !important;
        }

        .form-check-entrance {
            display: flex;
            gap: 10px;

            .form-check-input-entrance {
                margin-top: 0px !important;
                width: 20px !important;
            }
        }

        .btn1-registr {
            padding-left: 0 !important;
            width: 100% !important;
            justify-content: center;
        }
    }
}