.texts-faq1{
    padding-top: 313px;
}

body{
    height: 100vh;
}


.h1-faq1 {
    font-family: 'Ikra Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 110%;
    color: #000000;
}



.a-faq1 {

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #000000;
    font-stretch: 110%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}